.projectLinks{
	/* background-color: rgba(35, 23, 54, 0.5); */
	/* border-radius: 10px; */
	/* border: solid 2px rgb(77, 80, 110); */
	/* padding: 2%; */
	/* margin: .5%; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	transition: all 0.3s ease;
	margin-top: 2vh;
}
.large-project-description {
	/* grid-column: 1; */
	padding: 5%;
	overflow-y: auto;
	height: 50vh;
	scrollbar-width: thin;
	scrollbar-color: #ff43ffc7 #00000050;
	/* max-height: 50vh; */
	
	/* The fade mask: transparent at top/bottom edges, solid black in the middle */
	-webkit-mask-image: linear-gradient(
		to bottom,
		transparent 0%,
		black 10%,
		black 90%,
		black 5%,
		transparent 100%
	);
	mask-image: linear-gradient(
		to bottom,
		transparent 0%,
		black 10%,
		black 90%,
		black 5%,
		transparent 100%
	);
}
.large-project-image {
	/* grid-column: 3; */
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 8fr 1fr;
	padding: 5%;
	/* width: 100%; */
	/* height: auto; */
	/* border-radius: 10px; */
}
.project-description {
	/* grid-column: 1; */
	padding: 5%;
}
.project-image {
	/* grid-column: 2; */
	padding: 5%;
	text-align: center;
	/* width: 100%; */
	/* height: auto; */
	/* border-radius: 10px; */
}

@media screen and (max-width: 800px) {
	.projectLinks {
		grid-template-columns: none;
		/* grid-template-rows: 1fr 1fr; */
		grid-template-rows: 1fr min-content;
		/* align-items: flex-start; */
	}
	.large-project-description {
		grid-row: 1;
		overflow-y: visible;
		height: auto;
		-webkit-mask-image: none;
		mask-image: none;
	}
	.large-project-image {
		/* width: 100%; */
		/* height: auto; */
		/* border-radius: 10px; */
		grid-row: 2;
		height: auto;
	}
	.project-description {
		grid-row: 1;
	}
	.project-image {
		/* width: 100%; */
		/* height: auto; */
		/* border-radius: 10px; */
		grid-row: 2;
	}
}