html {
	cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym600.cur), auto !important;
}
body {
	background:#050505;
	/* rgb(34, 33, 44) */
	/* background:rgb(50, 49, 68); */
	color: #00FFFF;
	font-family: 'courier new';
	/* font-family: 'lucida Sans Unicode'; */
	margin: 5%;
	margin-top: 4%;

	/* .footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #1b0f40;
		border-top: solid 2px rgb(255, 255, 255);
		color: rgb(200, 200, 200);
		padding-left: 20px;
		text-align: left;
	} */

	/* Page Border */
	#top, #bottom, #left, #right {
	background: #140a33;
	position: fixed;
	z-index: 5
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 30px;
		}
		#left { left: 0; border-right: solid 2px rgb(255, 255, 255);}
		#right { right: 0; border-left: solid 2px rgb(255, 255, 255);}
		
	#top, #bottom {
		left: 0; right: 0;
		height: 30px;
		}
		#top { top: 0; border-bottom: solid 2px rgb(255, 255, 255);}
		#bottom { bottom: 0; border-top: solid 2px rgb(255, 255, 255);}
}

/* HyperLink Colors */
a {
	/*color: rgb(255, 0, 255);*/
	color: rgb(115, 192, 255);
	cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym599.cur), auto !important;
    transition: all 0.3s ease;
}
a:active {
	/*color: rgb(255, 0, 0);*/
	color: rgb(123, 97, 255);
	cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym599.cur), auto !important;
}
a:visited {
	/*color:rgb(69, 0, 255);*/
	color:rgb(222,140,255);
	cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym599.cur), auto !important;
}
a:hover {
	text-shadow: 0px 1px 2px #ff00ff;
	cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym599.cur), auto !important;
}


h1 {
	text-align: center;
	font-size: 3.5em;
}

h2 {
	text-align: center;
	font-size: 2.5em;
}

h3 {
	width: 100%;
	text-align: left;
	font-size: 2em;
}

button {
	background-color: rgba(0, 0, 0, 0);
	color: rgb(255, 255, 255);
	font-size: larger;
	border: none;
	padding: 10px;
	cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym599.cur), auto !important;
}


/* Custom Classes */
.centered {
	text-align: center;
	margin: auto;
	width: 75%;
}

.button-section {
	font-family: 'courier new';
	font-weight: bold;
	text-align: center;
	margin: auto;
	/* width: 15%; */
	/* min-width: 150px; */
	width: 150;
  	border: 4px double #00ffff;
	/* border-radius: 15px; */
  	padding: 10px;
    background: radial-gradient(ellipse, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #006eff57);
    transition: all 0.3s ease;
	clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
}
.button-section:hover {
    transform: scale(1.01) translateY(-2px);
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0), #003350); */
    background: radial-gradient(ellipse, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #ff00ff38);
    /* box-shadow: 0 5px 15px #00bcd450; */
    /* box-shadow: 0 5px 15px #d4008d50; */
    box-shadow: 0px 0px 3px 4px #d4008d50;
	border: 4px dashed #ff00ff;
	clip-path: none;
}

.mini-section {
	/* background:rgb(50, 49, 68); */
	text-align: center;
	margin: auto;
  	/* border: 2px solid rgb(75, 132, 255); */
	  /* border-top: solid 2px #00FFFF; */
	  /* border-bottom: solid 2px #00FFFF; */
	border-top: solid 2px transparent;
	border-bottom: solid 2px transparent;
	border-image: linear-gradient(90deg, #00FFFF, #c4ffff, #00FFFF) 1;
	padding: 10px;
}

.centering-grid {
	display: grid;
	place-items: center;
	min-height: 5%;
}

/* Mobile Device Class Overrides */
/* @media (max-width: 768px) {

} */